[Unit]
Description=Mailbox syncrhonization service for user %I
After=network-online.target
Wants=network-online.target

[Service]
Type=oneshot
ExecStart=/usr/bin/mbsync -a
User=%i
